{% extends 'base.html' %}
{% load static %}
{% block title %}
    Flixter
{% endblock title %}


{% block others %}
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
{% endblock others %}
    

{% block content %}
    {% comment %} <nav class="main-nav">
        <a href="home">Home</a>
        <a href="top10">Top 10</a>
        <a href="upcoming">Upcoming</a>
        <a href="about">About</a> {% endcomment %}
        
     {% comment %} <a href="about">About</a> {% endcomment %}
    {% comment %} </nav> {% endcomment %}
    {% include "navbar.html" %}
    <header class="min-h-screen bg-black bg-opacity-75 showcase border-gray-600 border-b-8 flex justify-center items-center bg-no-repeat"  style="background-image: url('{% static 'background.PNG' %}');">
        <div class="z-10 h-full py-32 md:py-0 text-gray-100 text-center flex items-center flex-col">
            <h1 class="font-semibold text-4xl md:text-5xl w-10/12 md:w-3/4 text-center">
                View Upcoming and Popular Movies.
            </h1>
            <h3 class="text-xl md:text-xl py-5">
                View anywhere. Anytime.
            </h3>
            <h4 class="text-sm md:text-lg pb-3">
                Ready to view movies? Enter your email to create your account.
            </h4>

            <div class="w-full flex justify-center">
                <div class="flex justify-center items-center w-11/12 md:w-10/12">
                    <input type="email" name="" id="" placeholder="Email address" class="md:py-5 py-4 px-2 placeholder-gray-500 rounded-tl-sm rounded-bl-sm outline-none  text-gray-900 bg-gray-50 block w-8/12 md:w-3/4">
                    {% comment %} <a href='{% url "account_signup" %}' class='md:w-1/4'> {% endcomment %}
                    
                        <button class="bg-primary_red font-medium md:font-normal flex justify-center items-center py-4 px-2 md:px-0 rounded-br-sm rounded-tr-sm md:text-2xl">
                            <span>
                                Get Started
                            </span>
                            <ion-icon name="chevron-forward-outline" class="text-2xl"></ion-icon>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <section class='flex flex-col md:flex-row items-center border-gray-900 border-b-8' style="min-height: 70vh;">
        <div class="md:w-1/2 flex flex-col justify-center text-center md:text-left p-5 md:p-10 ">
            <h2 class="md:text-5xl text-4xl font-semibold mb-4">
                Search on your Browser.
            </h2>
            <h5 class="md:text-xl text-lg">
                View App on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more.
            </h5>
        </div>
        <div class='md:w-1/2 flex justify-center items-center'>
            <img src="{% static 'laptop.PNG' %}" class="w-8/12" alt="">
        </div>
    </section>

    <section class='flex flex-col md:flex-row items-center border-gray-900 border-b-8' style="min-height: 70vh;">
        <div class='md:w-1/2 flex justify-center items-center '>
            <img src="{% static 'mobile.PNG' %}" class="w-8/12" alt="">
        </div>

        <div class="md:w-1/2 flex flex-col justify-center text-center md:text-left p-5 md:p-10">
            <h2 class="md:text-5xl text-4xl font-semibold mb-4">
                Download your shows to watch offline.
            </h2>
            <h5 class="md:text-xl text-lg">
                Save your favorites easily and create must-watch list.
            </h5>
        </div>
        
    </section>

    <section class='flex flex-col md:flex-row items-center border-gray-900 border-b-8' style="min-height: 70vh;">
        <div class="md:w-1/2 flex flex-col justify-center text-center md:text-left p-5 md:p-10">
            <h2 class="md:text-5xl text-4xl font-semibold mb-4">
                Create profiles for kids.
            </h2>
            <h5 class="md:text-xl text-lg">
                Send kids on a movie exploration with their favorite characters in a space made just for them.
            </h5>
        </div>
        <div class='md:w-1/2 flex justify-center items-center'>
            <img src="{% static 'flixter_kid.PNG' %}" class="w-8/12" alt="">
        </div>
    </section>
    <section>
    <h1>Recently Viewed: </h1>
    <br>
    {% if all %}
                {% for i in all %}
                
                <a href="movies/{{i.movie_id}}"><h3>{{i.name}}</h3></a>
                <img src="{{i.image}}" alt="{{i.name}} image">
                <br>
                {% endfor %}
                {% endif%}
                
    </section>
    <footer class=" px-5 py-10 ">
        <ul class="flex justify-between items-center">
            
            <li>&copy; 2023</li>
            <li> Made with Django and Tailwind</li>
            <li>By LeagueOfPythoners</li>
        </ul>
    </footer>


{% endblock content %}
