{% extends 'base.html'%}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MovieFlixter</title>
    </head>

    <body>
        <div class="wrapper">
        {% comment %} Header {% endcomment %}    
            <header>
                <div class="teamLogo">
                    {% comment %} MovieFlixter Logo inserted here {% endcomment %}
                    {% comment %} <a id="logo" img src=" " alt=></a> {% endcomment %}
                </div>
                </header>
               
            <main>
            {% block content %}
         {% include "navbar.html" %}
         <br>
         <br>
         <br>
         <br>
         <br>
         <form class ="d-flex" method=POST action ="search" >
              
                {% csrf_token %}

                <input class= "form-control" type="search" placeholder= "Search a Movie" aria-label="Search"
                name = 'searched'>
                
                <button class= "btn-outline-secondary" type="submit">Search</button>
             </form>


            {% if searched %}
            <h1>Results for :{{searched}} </h1>
                {% for i in content %}
                
                <a href="{{i.movie_id}}"><h3>{{i.name}}</h3></a>

                {% endfor %}
            
            {% else %}
<br>
            <h1>No results</h1>

            {% endif %}


            {% endblock content %}

           
            
            </main>
            </div>
    </body>
</html>