{% extends 'base.html'%}
{% load static %}
{% block title %}
    Flixter
{% endblock title %}
{% block content %}
         {% include "navbar.html" %}


<br><br><br>
<div class = "container"> 
    <br><br>
    <div class="row"> 
        <div class="col-md-5">
          <br>
          <img class="img-fluid" src="{{ movie.image }}" alt="" style = "width: 90%;">
          <br><br>
          <h3 class="card-title text-center ">{{ movie.name }}</h3>
        </div> 
        <div class="col-md-7 shadow-lg p-3 mb-5 bg-white rounded">
          <h1 class="my-3">Movie Description</h1>
          <p class = "lead">{{ movie.description }}</p>
          <h2 class="my-3">Movie Details</h2>
          <ul>
            <li>{{ movie.rating }}</li>
            <li>{{ movie.tags }}</li>
            <li>{{ movie.date }}</li>
          </ul>
        </div>
    </div>
</div>

{% endblock %}