{% extends 'base.html'%}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MovieFlixter</title>
    </head>

    <body>
            
            {% block content %}
            {% include "navbar.html" %}
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
                <div class = "container">
                    <div class = "text-center container">
                        <br>    
                        <form method="GET">
                            <input type = "text" name = "name" placeholder="Search..." class = "text-center">
                            <button type = "submit" class = "btn-danger btn-sm">SEARCH MOVIES</button>
                        </form> 
                    </div> 
                    <br>
                    <br>
                    <div class="row">
                        {% for meal in all_movies %}
                            <div class="col-md-4 col-sm-6 col-lg-3">
                                <div class="card">
                                    <img class="card-img-top" src="{{ movie.image }}" alt="Card image cap">
                                    <div class="card-body text-center">
                                        <p class="card-title">{{ movie.name }}</p>
                                        <hr>
                                        <p class="card-text">{{ movie.rating }}</p>
                                        <a href="/templates/{{movie.id}}"
                                        ><input
                                            type="submit"
                                            value="More Info"
                                            class="btn btn-danger btn-sm"
                                            type="button"
                                    /></a>
                                    </div>
                                </div>
                                <br><br><br>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                </header>
               
            <main>
            {% block content %}
         {% include "navbar.html" %}

            {% if searched %}
        <h2>Results for : <strong>{{searched}} <strong></h2>
        <br>

                {% for i in content %}
                
                <a href="{{i.movie_id}}"><h3>{{i.name}}</h3></a>

                {% endfor %}
            
            {% else %}

            <h1>No results</h1>

            {% endif %}


            {% endblock content %}

           
            
            </main>
            </div>
    </body>
</html>