{% load static %}
<nav class="flex text-gray-100 justify-between items-center py-3 px-4 fixed w-full z-50">
    <div class="w-6/12">
        <a href='/'>
        
        <img src="{% static 'logo.png' %}" alt="logo" class="w-5/12 md:w-2/12">
        </a>
    </div>
    <a class="nav-link" href="{% url 'home' %}">Home</a>
    <a class="nav-link" href="{% url 'search' %}">Search</a>
    <a class="nav-link" href="{% url 'top10' %}">Top 10</a>
    <a class="nav-link" href="{% url 'upcoming' %}">Upcoming</a>
    <a class="nav-link" href="{% url 'about' %}">About</a>
    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
</nav>
