{% extends 'search/base.html'%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MovieFlixter</title>
    </head>

    <body>
        <div class="wrapper">
        {% comment %} Header {% endcomment %}    
            <header>
                <div class="teamLogo">
                    {% comment %} MovieFlixter Logo inserted here {% endcomment %}
                    {% comment %} <a id="logo" img src=" " alt=></a> {% endcomment %}
                </div>
                </header>
                <nav class="main-nav">
                    <a href="home">Home</a>
                    <a href="top10">Top 10</a>
                    <a href="upcoming">Upcoming</a>
                    <a href="about">About</a>
                    {% comment %} <a href="about">About</a> {% endcomment %}
                </nav>
            <main>
            {% load static %}
            {% block content %}
            {% if searched %}
            <h1>Results for :{{searched}} </h1>
                {% for i in content %}
                
                <a href="{{i.emsId}}"><h3>{{i.name}}</h3></a>

                {% endfor %}
            
            {% else %}

            <h1>No results</h1>

            {% endif %}

            {% endblock content %}

            {% comment %} Updating search form to look nicer {% endcomment %}

            {% comment %} {% load static %}
            {% block content %} 
                <div class = "container">
                    <br>
                    <br>
                    <form method="GET">
                        <input type = "text" name = "name" placeholder="Search..." class = "text-center">
                        <button type = "submit" class = "btn-danger btn-sm">MOVIE SEARCH</button>
                    </form> 
                </div>  
            {% endblock %}
             {% endcomment %}
            
            </main>
            </div>
    </body>
</html>