<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type ="text/css" href="/static/style.css">
        <title>MovieFlixter</title

    </head>
    <body>
        <div class="wrapper">
        {% comment %} Header {% endcomment %}    
            <header>
                <div class="teamLogo">
                    {% comment %} MovieFlixter Logo inserted here {% endcomment %}
                    {% comment %} <a id="logo" img src=" " alt=></a> {% endcomment %}
                </div>
                <nav class="main-nav">
                    <a href="home">Home</a>
                    <a href="top10">Top 10</a>
                    <a href="upcoming">Upcoming</a>
                    <a href="about">About</a>
                    {% comment %} <a href="about">About</a> {% endcomment %}
                </nav>
                <nav class="sub-nav">
                    <a href="#"></a>
                 

                    {% for movie in topMovies %}
                    <h4 class = "movie-title">{{ movie.name}}</h4>
                    <img href="{{movie.image}}">
                    <ul>
                        <li>Rotten Tomato Rating: {{movie.rating}}</li>
                    </ul>
                    {%endfor%}



    </body>
</html>