<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MovieFlixter</title>
    </head>

    <body>
        <div class="wrapper">
        {% comment %} Header {% endcomment %}    
            <header>
                <div class="teamLogo">
                    {% comment %} MovieFlixter Logo inserted here {% endcomment %}
                    {% comment %} <a id="logo" img src=" " alt=></a> {% endcomment %}
                </div>
                </header>
                <nav class="main-nav">
                    <a href="home">Home</a>
                    <a href="top10">Top 10</a>
                    <a href="upcoming">Upcoming</a>
                    <a href="about">About</a>
                    {% comment %} <a href="about">About</a> {% endcomment %}
                </nav>
            <main>
            {% block content %}
            
                    {% for movie in posts %}
                    <div class= "movie-column">
                    <a href = "{{movie.emsId }}">
                    <h4 class = "movie-title" >{{ movie.name }}</h4>
                    <img class= "movie-image" src= "{{movie.image}}" style="width: 15em;" >
                    <p>Rotten Tomato Rating: {{ movie.rating }}</p>
                    </a>
                    </div>
                    {% endfor %}
                    
            {% endblock content %}
            
            </main>
            </div>
    </body>
</html>