{% extends 'base.html'%}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MovieFlixter</title>
    </head>

    <body>
        <div class="wrapper">
        {% comment %} Header {% endcomment %}    
            <header>
                <div class="teamLogo">
                    {% comment %} MovieFlixter Logo inserted here {% endcomment %}
                    {% comment %} <a id="logo" img src=" " alt=></a> {% endcomment %}
                </div>
                </header>
               
            <main>
            {% block content %}
            {% include "navbar.html" %}

             {% for movie in posts %}
                    <a href ="{{movie.movie_id}}">
                    <h3 class = "movie-title" >{{ movie.name }}</h3></a>
                    <img class= "movie-image" src= "{{movie.image}}" style="width: 15em;" >
                    <h4>Release Date: {{ movie.date }}</h4>

                    {% endfor %}

                    
            {% endblock content %}
            
            </main>
            </div>
    </body>
</html>