<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static',filename='style.css') }}">
        <title>MovieFlixter</title>

    </head>
    <nav>
        <a href="/">Home</a>
        <a href="/top10">Top 10</a>
        <a href="/upcoming">Upcoming</a>
        <a href="/about">About</a>
    </nav>
    <body class="home">
       <h1 class="title">Featured Films</h1>



    </body>
</html>